ALLOWED_EMAIL = "your-email@live.com"
MICROSOFT_CLIENT_ID = ""
MICROSOFT_CLIENT_SECRET = ""
MICROSOFT_TENANT_ID = ""
MICROSOFT_REDIRECT_URI = "http://localhost:8501"  # Change to your deployed URL in production

[mongo]
connection_string = ""
